.portfolio {
    text-align: center;
    padding: 5% 2%;
}

.client_main_text {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.pink-dash {
    width: 6%;
    height: 2px;
    background-color: #ff0078;
    margin: 0.5rem auto 2rem auto;
}

.portfolio_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 5%;
}

.portfolio_nav_button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.portfolio_nav_button.active {
    color: #ff0078;
    border-bottom: 2px solid #ff0078;
}

.portfolio_content {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.portfolio_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.project_card {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: left;
    border-radius: 5px;

}

.project_card h3 {
    margin: 0;
    font-size: 1.25rem;
}

.project_card p {
    margin: 0.5rem 0;
}

.learn_more_button {
    background: #ff0078;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;

    bottom: 1rem;
    left: 1rem;
}

@media (max-width: 768px) {
    .client_main_text {
        font-size: 1.5rem;
    }

    .portfolio_nav_button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .project_card {
        padding: 0.75rem;
    }

    .learn_more_button {
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .client_main_text {
        font-size: 1.25rem;
    }

    .portfolio_nav_button {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .project_card {
        padding: 0.5rem;
    }

    .learn_more_button {
        padding: 0.5rem;
        font-size: 0.75rem;
    }
}
