.Home {
    background-color: var(--overlay);
    color: #fff;
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home:before {
    content: '';
    background: url('../images/header-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Home .content {
    max-width: 1300px;
    margin-top: 16rem;
    text-align: center;
    padding: 0 20px;
}

.text-container {
    margin-bottom: 20px;
}

.main-text {
    font-size: 4rem;
    margin-bottom: 20px;
}

.sub-text {
    width: 70%;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0 auto;
}

.buttons {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

a.btn {
    text-decoration: none;
}

.btn {
    width: 300px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #E74C3C;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #c0392b;
}

@font-face{
    font-family: Sansation;
    src: url(/src/assetss/Sansation_Regular.ttf);
}

@media screen and (max-width: 940px) {
    .main-text {
        font-size: 3rem;
    }

    .sub-text {
        font-size: 1.4rem;
    }

    .logo-container {
        top: 40px;
        right: 10px;
    }

    .Home .content {
        margin-top: 10rem;
    }

    .btn {
        width: 250px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .main-text {
        font-size: 2.4rem;
    }

    .sub-text {
        width: 90%;
        font-size: 1.2rem;
    }

    .buttons {
        margin-top: 10rem;
    }

    .btn {
        width: 100%;
        padding: 15px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    .buttons {
        display: flex; /* Ensure the container is using flexbox */
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center the buttons */
        gap: 10px; /* Add spacing between buttons */
        width: 100%; /* Ensure buttons take the full width of the container */
        margin-top: 10rem; /* Adjust top margin */
    }

    .btn {
        width: 100%; /* Each button takes the full width of the parent */
        padding: 15px; /* Adjust padding for touch targets */
        font-size: 1rem; /* Maintain font size */
        margin-right: 0; /* Remove any right margin */
        margin-left: 0; /* Remove any left margin */
    }
}


