:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #E74C3C;
  --secondary-dark:#e3d002;
  --overlay: rgba(0,0,0,.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Sansation;
  /* background-color: rgb(0 100 0 / 0.1) !important; */
  /* outline: 1px solid limegreen !important; */
}

body {
  scrollbar-width: thin; 
  scrollbar-color: #333 #000; 
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
